name: My Android Build

on:
  workflow_dispatch: # 允许手动点击按钮触发

jobs:
  build:
    runs-on: ubuntu-latest

    # 【关键设置】告诉 GitHub Actions：所有 run 命令都在这个子文件夹里跑
    defaults:
      run:
        working-directory: ./simple_live_app

    steps:
    - uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        # 如果最新版编译失败，可以尝试取消下面这行的注释，强制使用旧版本
        # flutter-version: '3.19.0'

    - name: Get Dependencies
      run: flutter pub get

    - name: Build APK
      # 【已修改】删除了 --no-sound-null-safety，因为它在最新版已被移除
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: my-app-release
        # 路径必须包含子文件夹名
        path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
