name: My Android Build

on:
  workflow_dispatch: # 允许手动点击按钮触发

jobs:
  build:
    runs-on: ubuntu-latest

    # 【关键修改】：这里设置了默认工作目录
    # 告诉 GitHub Actions 所有 run 命令都在这个子文件夹里跑
    defaults:
      run:
        working-directory: ./simple_live_app

    steps:
    - uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Get Dependencies
      run: flutter pub get

    - name: Build APK
      # 加上 --no-sound-null-safety 是为了防止旧代码报错，如果不需要可以去掉
      run: flutter build apk --release --no-sound-null-safety

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: my-app-release
        # 注意：这里的路径必须写全，包含子文件夹名
        path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
